<html th:replace="~{base/base :: layout (~{:: main})}">
<main> 

   <div class="container" style="margin-top: 50px;">
      <h1>Alterar Convidados </h1>
      <hr>
      <br>
      
     <!-- Nome -->
      <form method="post" action="/alterar-convidados" th:object="${convidado}">
       <input type="hidden" th:field="*{id}">
       <div class="row"> 
         <div class="col-md-6 form-group offset-md-3" style="margin-top: 20px">
         <label ><b>Nome:</b></label>
         <input th:errorclass="is-invalid" class="form-control" placeholder="Ex: Thiago Antonio" style="margin-top: 10px"  th:field="*{nome}"> 
         <div class="invalid-feedback" th:errors="*{nome}"></div>    
        </div>
       </div>
    <!--RG-->
       <div class="row">
         <div class="col-md-6 form-group offset-md-3" style="margin-top: 20px">
         <label><b>RG:</b></label>
         <input th:errorclass="is-invalid" class="form-control" placeholder="Ex: 00000011" style="margin-top: 10px" th:field="*{rg}"> 
         <div class="invalid-feedback" th:errors="*{rg}"></div>         
        </div>
       </div> 
        <!--Idade-->
        <div class="row">
         <div class="col-md-6 form-group offset-md-3" style="margin-top: 20px">
         <label><b>Idade:</b></label>
         <input th:errorclass="is-invalid" class="form-control" placeholder="Ex: 25" style="margin-top: 10px" th:field="*{idade}">  
         <div class="invalid-feedback" th:errors="*{idade}"></div>        
        </div>
       </div> 
   
      <div class="row">
		  <div class="col-md-6 form-group offset-md-5" style="margin-top: 20px">
		   <button type="submit" class="btn btn-success">SALVAR</button>
			&nbsp; 
		   <a th:href="@{/lista-convidados}" class="btn btn-danger" >VOLTAR</a>
		  </div> 
      </div>
       &nbsp;  &nbsp;  &nbsp;  &nbsp;
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
   </form> 
      
   </div>   

</main>
</html>